<footer class="footer">
<div class="w-full" style="background-color: #333333; height: auto;">
  <div class="container" style="text-align: center;">
    <br>
    <div style="margin: 0 auto;">
        <p class="pull-left col-lg-3 col-md-3 col-sm-4 col-xs-4"><a target="_blank" href="http://www.chinanews.com/" style="color: #ccc;"> 中国新闻网</a></p>
        <p class="pull-left col-lg-3 col-md-3 col-sm-4 col-xs-4"><a target="_blank" href="www.baidu.com"style="color: #ccc;"> 百度一下</a></p>
        <p class="pull-left col-lg-3 col-md-3 col-sm-4 col-xs-4"><a target="_blank" href="http://www.ucas.ac.cn/" style="color: #ccc;">中国科学院大学</a></p>
        <p class="pull-left col-lg-3 col-md-3 col-sm-4 col-xs-4"><a target="_blank" href="https://github.com/moonsea/ucas_today" style="color: #ccc;">Github</a></p>
    </div>
    <p>版权所有@天猫创作团队</p>
    <p>2016年1月1日</p>
  </div>
</div>
</footer>
